<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
          rel="stylesheet">
    <!--Link de Boostrap-->
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/trix.css">
    <title>{{nombrePagina}}</title>
</head>
<body>
<div class="nombre-sitio contenedor">
    <h1>
        <a href="/devjobs">DevJobs</a>
    </h1>
    {{#if barra}}
        <div class="buscador">
            <form method="post" action="/devjobs/buscador">
                <input type="text" name="q" class="buscar">
                <input type="submit" value="Buscar">
            </form>
        </div>
        <div class="mx-3 mt-2">
            <a href="/devjobs/iniciar-sesion" class="btn text-white btn-azul">Iniciar Sesión</a>
        </div>
    {{/if}}

    {{#if cerrarSesion}}
        <div class="mt-4">
            <a href="/devjobs/administracion" class="btn btn-primary">Administracion</a>
        </div>
        <div class="mt-4">
            <a href="/devjobs/editarPerfil" class="btn btn-secondary">Editar Perfil</a>
        </div>
        <div class="mt-4">
            <a href="/devjobs/cerrar-sesion" class="btn btn-danger">Cerrar Sesión</a>
        </div>
    {{/if}}
</div>

<header class="site-header contenedor separador">
    <div class="container-xl">
        <div class="row d-flex align-items-center">
            <div class="col-md-6">
                <h2>{{nombrePagina}}</h2>

                {{#if tagline}}
                    <p class="tagline text-uppercase">{{tagline}}</p>
                {{/if}}
                {{#if boton}}
                    <a href="/devjobs/vacantes/nueva" class="btn btn-azul">Publicar Nueva Vacante</a>
                {{/if}}
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                {{#if imagen}}
                    <img src='/uploads/perfiles/{{imagen}}' alt="imagen_perfil-reclutador" class="img-fluid rounded-circle" width="50%">
                {{/if}}
            </div>
        </div>
    </div>
</header>

<div class="contenido-principal contenedor">
    <!--Contenido que se inyectarara desde los layout hijos-->
    {{{body}}}
</div>
<!--Link de bootstrap-->
<script src="/static/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/trix.js"></script>
</body>
</html>