<main class="main lista-vacantes">
    <h2>Lista de Vacantes</h2>

    <!--Iteracion de vacantes de la db-->
    {{#if vacantes.length}}
        {{#each vacantes}}
            <div class="vacante">
                <div class="caja">
                    <h3>{{this.empresa}}</h3>
                    <p class="puesto">{{this.titulo}}</p>
                </div>
                <div class="caja">
                    <p class="etiqueta">Ubicación:</p>
                    <p class="nombre">{{this.ubicacion}}</p>
                </div>
                <div class="caja">
                    <p class="etiqueta">Contrato:</p>
                    <p class="nombre contrato">{{this.contrato}}</p>
                </div>
                <div class="caja centrar-vertical">
                    <a href="/devjobs/vacante/{{this._id}}" class="btn btn-verde">Más Información</a>
                </div>
            </div>
        {{/each}}
    {{else}}
        <div class="container-xl my-3 rounded">
            <div class="row d-flex justify-content-center">
                <p class="bg-danger text-white px-3 py-2 fw-bold fs-2 text-uppercase">Sin vacantes disponibles</p>
            </div>
        </div>
    {{/if}}
</main>